<!DOCTYPE html>
<html>
  <head>
    <title>Word Dragon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/main.css'>
    <link rel="icon" type="image/png" href="/dragon.png">
  <body>
    <div class="container text-center">
      <%= yield %>
    </div>
  </body>
</html>
