<h1><%= @word.word %></h1>

<% @definitions.each do |definition| %>
  <h4><%= definition %></a></h4>
<% end %>

<h4>Add a definition:</h4>

<form action="/word_page" method="post">
  <div class="form-group">
    <label for="definition">Definition</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add definition</button>
</form>

<a href="/">Back to list</a>
